*/.#*
build/
.build.inc.sh
certify/copyright-preamble.txt
certify/Dockerfile
certify/git-files/
certify/LICENSE
echotel/copyright-preamble.txt
echotel/Dockerfile
echotel/git-files/
echotel/LICENSE
*/node_modules/
node_modules/
npm-debug.log
rest/node_modules/
